CREATE STORAGE INTEGRATION my_sample_s3_integration 
  TYPE = EXTERNAL_STAGE
  STORAGE_PROVIDER = S3
  ENABLED = TRUE
  STORAGE_AWS_ROLE_ARN = '{{ SNOWFLAKE_IAM_ROLE_ARN }}'
  STORAGE_ALLOWED_LOCATIONS = ('s3://{{ AWS_BUCKET_NAME }}/sample_data/');
